#date-type-filter-container {
    margin-left: 20px;
    display: flex;
}

.date-type-container {
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}

.date-type-container:last-child {
    border-left: 1px solid var(--secondary);
}

.date-type-text, .date-type-text.selected {
    margin: 5px 0 5px 5px;
}

.date-type-text-container.selected {
    border-bottom: 2px solid;
    border-color: var(--secondary);
}

.date-type-text.selected {
    font-weight: bold;
} 

@media screen and  (max-width:800px) {
    #date-type-filter-container {
        margin-top: 15px;
        margin-left: 0;
        justify-content: center;
    }
}