#header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

@media screen and (max-width: 800px){
    #header-container {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
}